@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme{
    --color-primary: #164F5B;
    --color-secondary: #299394;
}

.buttonNav:focus{
    background-color: red !important;
}

.slick-slide > div{
    margin: 0 10px;
}

.slick-slider > button{
    display: none !important;
}
